version: "3.8"

services:
  nextjs-app:
    build:
      context: .
      target: development
    container_name: wisdomchurch-admin-dev
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      WATCHPACK_POLLING: "true"
      CHOKIDAR_USEPOLLING: "true"
      NEXT_PUBLIC_API_URL: "http://localhost:8080/api/v1"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    command: npm run dev
    profiles:
      - dev

  migrate:
    image: migrate/migrate:v4.16.2
    container_name: admin_migrate
    volumes:
      - ./migrations:/migrations:ro
    entrypoint: ["migrate"]
    profiles:
      - dev

  nextjs-app-prod:
    image: ghcr.io/thewisdomchurch/wisdom-admin:main
    container_name: wisdomchurch-admin-prod
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: "production"
      PORT: "3000"
    profiles:
      - prod

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./ssl:/etc/nginx/ssl:ro
    depends_on:
      - nextjs-app-prod
